html {
    scroll-padding-top: 4rem;
}

body {

    a {
        transition: .2s;
    }

    .entry-content,
    .wp-block-post-content {
        p, ul, ol, table {
            word-wrap: break-word;
            line-height: 2;

            strong {
                font-weight: 900;
            }

            // &:not(.has-text-color) {
            //     strong {
            //         color: $secondary;
            //     }
            // }
        }

        .wp-block-heading {
            &:not(:first-child) {
                margin-top: 3rem;
            }
            margin-bottom: 1rem;
            
        }
    }

    .post-password-required {
        padding: 4rem 0;
        text-align: center;
    }

    .entry-content.content-narrow {
        .is-layout-constrained > :where(:not(.alignleft):not(.alignright):not(.alignfull)) {
            max-width: 1076px;
            margin-left: auto;
            margin-right: auto;
        }
    }
    
}

::selection {
    background: tint-color($secondary, 20%);
}