.logged-in {
    .multipart-block {
        .table-of-contents {
            top: 60px;
        }

        .row.rounded-3 {
            @include media-breakpoint-down(sm) {
                border-radius: 0 !important;
            }
        }
    }
}

.multipart-block {
    .table-of-contents {
        position: sticky;
        top: 60px;

        .nav {
            overflow-y: scroll;
            max-height: 420px;

            &::-webkit-scrollbar {
                width: 6px;
            }
        
            
            &::-webkit-scrollbar-thumb {
                border-radius: 10px;
                background: tint-color($secondary, 25%);
            }
        }
    }

    .multipart-sections-container {
        // overflow: scroll;
        height:100%;
        max-height: 80vh;
        
        &::-webkit-scrollbar {
            width: 6px;
        }
    
        
        &::-webkit-scrollbar-thumb {
            border-radius: 10px;
            background: tint-color($secondary, 25%);
            z-index: 9999;
        }
    }

    .multipart-section {
        background-color: #efefef;
        border-radius: 12px;

        .wp-block-columns:last-child {
            margin-bottom: 0;
        }

        .section-header {
            border-width: 1rem !important;
        }
    }
}