.entry-content > .wp-block-group {
    padding-left: 1.5rem;
    padding-right: 1.5rem;

    @include media-breakpoint-up(lg) {
        padding-left: 3rem;
        padding-right: 3rem;
    }
}

.wp-block-separator {
    border-top: 1px solid!important;
    border-bottom: 0;
}

.wp-block-image {
    &.w-100 {
        img {
            width: 100%;
        }
    }
    &.aligncenter {
        * {
            margin-left: auto;
            margin-right: auto;
        }
    }
}

.wp-block-cover {
    &.bg-hide-mobile {
        img.wp-block-cover__image-background {
            @include media-breakpoint-down(xl) {
                display: none;
            }
        }
    }
}

.wp-block-footnotes {
    margin: 0 auto;
    padding: 4rem 0;
    max-width: 1400px;
}