.upcoming-webinar-block {
    .upcoming-webinar-img {
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            transition: transform .65s ease-in-out;

            @include media-breakpoint-down(sm) {
                max-height: 150px;
            }
        }
    }

    &:hover {
        .upcoming-webinar-img {
            img {
                transform: scale(1.1);
            }
        }

        .upcoming-webinar-btn {
            background-color: $secondary;
            color: $white;
        }
    }

    .upcoming-webinar-info {
        border-top: 6px solid $secondary;

        @include media-breakpoint-up(lg) {
            border-top: none;
            border-left: 6px solid $secondary;
        }
    }

    .upcoming-webinar-btn {
        border-width: 2px !important;
        background-color: $white;
        z-index: 1;
        
        @include media-breakpoint-up(lg) {
            left: 75% !important;
        }
    }
}