// For each background color, we generate a class that sets the background color

$backgrounds: (
    "darkgrey": $darkgrey,
    "grey": $grey,
    "lightgrey": $lightgrey,
    "lightestgrey": $lightestgrey,    
);

@for $i from 1 through length($backgrounds) {
  $name: nth(map-keys($backgrounds), $i);
  $color: nth(map-values($backgrounds), $i);

  .bg-#{$name} {
    background-color: $color;
  }
}

.grid-bg {
  &:before {
    content: '';
    position: absolute;
    inset: 0;
    background-image: linear-gradient(rgba(255, 255, 255, 0.025) 1px, transparent 1px), linear-gradient(90deg, rgba(255, 255, 255, 0.025) 1px, transparent 1px);
    background-size: 60px 60px;
    pointer-events: none;
  }
}