.wp-block-image.image-border img {
    padding: .5rem;
    border: 3px solid #babf10;
}

.wpl-iframe-placeholder {
    margin-top: -56%;
}

.tribe-events-content {
    .wpl-iframe-placeholder {
        margin-top: 0;
    }
}