.gform_required_legend {
    display: none;
}

.gfield {
    input, select, textarea {
        border: 1px solid shade-color($lightestgrey, 5%);
        border-radius: 4px;
    }
}

.gform_button,
.gform_next_button,
.gform_previous_button {
    padding: .75rem 2rem !important;
    border: 2px solid $primary !important;
    border-radius: 2rem !important;
    background-color: $primary !important;
    color: $white !important;
    transition: color .2s, background-color .2s;

    &:hover {
        background-color: shade-color($primary, 20%) !important;
    }
}

.has-sigmablue-background-color {
    .gform_button {
        background-color: transparent !important;
        color: $secondary !important;
        border-color: $secondary !important;

        &:hover {
            background-color: $secondary !important;
            color: $white !important;
        }
    }
}

#gform_confirmation_message_14 {
    padding: 2rem;
    border: 2px solid #b9be10;
    background: #efefef;
    border-radius: 1rem;
}

/* Interactive Quiz */

#gform_14 .boxed {
    width: 100%;
    padding: 1rem;
    border: 2px solid #abba39;
    border-radius: 6px;
}

#field_14_7 {
    display: none;
}

#gform_14 ul {
    list-style-type: none;
}

#gform_14 label {
    color: #12355a;
}

#gform_14 .gfield_checkbox label {
    color: #353535;
}

#gform_14 li.gfield.gf_left_half:before {
    display: none;
}

#gform_14 #gfield_description_14_7 {
    font-size: 1rem;
}