.modal {
    .btn-close {
        box-shadow: none;
        outline: none;
        z-index: 99;
    }

    .wp-block-button {
        .has-sigmagreen-background-color {
            border: 3px solid $secondary !important;
            transition: .2s;

            &:hover {
                border: 3px solid #95990d !important;
            }
        }
    }

    .btn-outline {
        color: $white !important;

        a {
            border: 3px solid $secondary !important;
            box-sizing: border-box;
            background-color: transparent !important;
        }

        &:hover {
            a {
                color: $secondary !important;
            }
        }
    }
}