.webinar-card-container {
    .webinar-title {
        min-height: 160px;
    }
    
    button {
        border-width: 2px;
    }

    &:hover {
        button {
            background-color: $secondary !important;
            color: $white;
        }
    }
}