.home-boxes {
    .home-box {
        @include media-breakpoint-up(md) {
            &.home-box-line-right {
                &:before {
                    content: "";
                    background-color: #ececec;
                    width: 1px;
                    height: 100%;
                    position: absolute;
                    top: 0px;
                    right: -16px;
                }
            }
            &.home-box-line-bottom {
                &:after {
                    content: "";
                    width: 100%;
                    height: 1px;
                    background-color: #ececec;
                    display: block;
                    position: absolute;
                    bottom: -28px;
                }
            }
        }
    }

    .wp-block-button__link {
        border: 1px solid !important;
    }
}